<div class="container-fluid" ng-controller="ScrollController" id="top">
    <a class="btn btn-default" href="#!/" id="button">Inapoi la pagina principala</a>
    <h2>Intedicțiile nu funcționează</h2>
    <div class="container">

        <h4><b>Ficțiune: </b>Interdicțiile referitoare la pungi sunt
            o metodă eficientă de a elimina utilizarea pungilor convenționale de plastic pentru cumpărături și de a reduce deșeurile.</h4>
        <h4><b>Realitatea: </b>Nu. Interdicțiile nu sunt eficiente în ceea ce privește eliminarea utilizării pungilor de plastic având în
            vedere faptul că acestea nu recunosc posibilitatea de reutilizare a pungilor dincolo de rolul lor de dispozitive pentru cărat.
            Acestea subminează principiile celor 3R și tendința mondială spre reciclare.
            Interdicțiile reprezintă o încercare de la vârf spre bază de a forța schimbări bruște comportamentale și de obicei declanșează comportamente de evitare.
        </h4>
        <h4><b>Situațiile de fapt:</b></h4><br>
        <p>O analiză a activității de interzicere a pungilor pe plan mondial arată că: </p><br>
        <p>1. Interdicții totale referitoare la pungile de plastic pentru cumpărături în țări sunt rare și acolo unde s-a încercat aplicarea acestora eșuează aproape întotdeauna.<br>
            Majoritatea interdicțiilor nu încearcă să elimine total pungile de pe piață, ci impun modificarea modului în care acestea sunt făcute din punct de vedere al plasticului utilizat și al grosimii lor. Acesta a fost cazul în Italia, Franța, China, Mexico City și India.
            Pungile sunt in continuare pe piață cu toate că interdicția referitoare la acestea este, teoretic, în vigoare.
        </p>
        <p>2. O interdicție reprezintă o directivă descendentă care încearcă să forțeze o schimbare bruscă în comportamentul consumatorului.<br>
            O interdicție limitează opțiunile, și ignoră cum și de ce utilizează consumatorii pungi de plastic pentru cumpărături în viața de zi cu zi.
            Politicile de interdicție activează strategiile de evitare a acestora, determinând deci eșecul. (de ex. India, China, Somalia,etc).
            Pentru a avea succes, o interdicție trebuie să beneficieze de suportul cetățenilor.
            Interdicțiile reprezintă o abordare prea simplistă pentru o chestiune atat de complexă.
        </p>
        <p>
            3. Strategiile de reducere care dezvoltă gradul de conștientizare, educă, și încurajează schimbarea treptată în comportamentul consumatorului sunt mai
            eficiente în privința administrării, reducerii și promovării utilizării responsabile a pungilor de plastic pentru cumpărături.
            Această abordare oferă opțiuni consumatorului,si anume aceea de a decide singur cum si cat si cand, si care corespunde si nevoilor și stilului lor de viață (de ex. Canada, RU, Țara Galilor).
            Strategiile de reducere recunosc necesitatea pungilor pentru cumpărături rapide și in administrarea deșeurilor casnice și a celor produse de animalelor de companie.
            Strategiile de reducere se dezvoltă pe gestionarea tradițională a produselor și pe principiul celor 3R (redu, reutilizează și reciclează)
            care sunt foarte populare în rândul utilizatorilor de pungi din multe țări.
        </p>
        <p>
            4. Multe decizii de a interzice pungile de plastic pentru cumpărături sunt luate în baza unor considerente eronate cu privire la beneficiile
            ecologice și fără o analiză a consecințelor sau a impactului rezultat in urma unei masuri de genul. Interdicțiile trebuie analizate cu atenție din punct de vedere
            a trei parametri – economic, social și ecologic.
            Comunele interpretări greșite, cu privire la mediu, impiedică un proces decizional bun referitor la pungi.
            De exemplu, multți cred că hârtia este mai bună sau că toate pungi de plastic ar trebui să fie biodegradabile cu toate că ar anihila
            reciclarea conducand la o canalizare mai scăzută a fluxului deșeurilor catre centre, și de aici ar rezulta mai multe deșeuri în gropile de gunoi.
            Pe deasupra nicio pungă – din plastic reutilizabil sau convențional – nu se va descompune la groapa de gunoi.
            Interdicțiile referitoare la pungile de plastic trebuie analizate cu atenție. Guvernul scoțian a petrecut doi ani cu audieri,
            analizând chestiunea pungilor, înainte să-și publice raportul în 2005, care arată clar că înterdicțiile și taxele referitoare
            la pungile de plastic au ceea ce Ministrul Mediului din Regatul Unit a numit “beneficii negative”, care pot afecta mediul, economia și cetățenii.
        </p>
        <p>5. Deciziile de a interzice pungile de plastic au întotdeauna consecințe, intenționate și neintenționate, care sunt anti-ecologice.
            Interdicțiile, în fucție de alternativă, rezultă în utilizarea mai multor resurse, produc mai multe deșeuri, costuri municipale mai ridicate pentru gestionarea acestora
            și nu in ultimul rand mai multe emisii de gaze cu efect de seră.
            Aceasta se întâmplă deoarece decizia de a interzice nu ia adesea în considerare utilitatea alternativă a pungilor în gestionarea deșeurilor casnice.
            De asemenea, există  adesea o supoziție conform căreia alte alternative sunt mai bune pentru mediu fără a lua în considerare rezultatele științifice.
            Reutilizarea pungilor convenționale de plastic pentru cumpărături este ridicată – 40-60% reutilizare.
            Pungile de plastic sunt o alternativă ecologică mai bună decât hârtia în baza analizelor multiple a ciclului de viată.
            Trecerea la hârtie produce, deasemenea, de șapte ori mai multe deșeuri, necesită de șapte ori mai multe camioane înspre a fi colectată
            și generează de șapte ori mai multe gaze cu efect de seră.
            Acesta este motivul pentru care Taiwan a retras o interdicție referitoare la pungile de plastic în sectorul lor de alimentație publică
            în 2006, atunci când retailerii au trecut la pungi de hârtie și au raportat ulterior că mișcarea a produs "un munte de deșeuri"
            și emisii de gaze cu efect de seră.
        </p>
        <p>6. Interdicțiile care se adresează problemelor legate de gunoi sunt ineficiente pentru că gunoiul este o problemă mai mult a oamenilor
            decât o problemă materială (cantitativ legată de pungi).Oamenii trebuie educati sa nu arunce decat la gunoi.
            În țările dezvoltate, deșeurile de pungi sunt o parte minusculă din totalul de deșeuri (de obicei mai puțin de 1%) astfel încât interdicțiile
            au un efect minor asupra reducerii acestora. (de ex. în Toronto deșeurile de pungi sunt de 0.8%).
            În țările în curs de dezvoltare, interdicțiile referitoare la pungi sunt văzute ca o soluție de înlocuire a sistemelor de gestionare a
            deșeurilor,care ineficiente sau non-existente. (de ex. India, Bangladesh). Acestea eșuează întotdeauna pentru că nu se concentrează pe reciclare
            și pe necesitatea utilizatorilor de pungi,sau orice alt ambalaj, de a avea un loc unde să le arunce.
        </p><br>
        <a class="btn btn-success" ng-click="gotoTop()">Inapoi sus</a>
        <h3><b>Ce s-a întâmplat pe mapamond:</b></h3><br>
        <ol>
            <li>O scanare a activităților legate de pungi în jurul lumii (vezi <a ng-href="#!/bags">Pungile de plastic pe Terra</a> )
                arată că tendința pe termen lung a fost în sensul reciclării, nu a interdicțiilor. (exemple: Japonia, Canada, majoritatea țărilor europene, China, Taiwan).
                Africa de Sud și Belgia, spre exemplu, au taxe/impozite pe pungi ce sunt direcționate spre finanțarea reciclării pungilor.
            </li>
            <li>Interdicțiile sunt un fenomen relativ nou și nu reprezintă opțiunea preferată de politici publice în majoritatea țărilor. </li>
            <li>Există multe tipuri diferite de “interdicții” sau a ceea ce se numește interdicție.
                Interdicțiile complete sau totale a pungilor de plastic pentru cumpărături sunt rare și de obicei nu funcționează pentru că, în majoritatea cazurilor,
                cei afectați de interdicție recurg la strategii de evitare pentru a o evita.
            </li>
            <li>Interdicțiile adesea nu au nicio legătură cu îndepărtarea de pe piață a pungilor, ci cu un efort de a mandata o schimbare a cum este produsă punga.
                Astfel, ocazional, în timp ce o “interdicție” a pungilor ultra-subțiri de plastic este mandatată, pungile mai groase sunt încă pe piață.
                Un alt exemplu este acela că puține jurisdicții au “interdicții” la plasticul non-biodegradabil deoarece doresc să forțeze piața să
                producă pungile din folie de plastic compostabilă sau biodegradabilă. Pungile de plastic sunt în continuare pe piață, doar că sunt
                făcute din alte materiale plastice.</li>
        </ol><br>

        <h4><b>Jurisdicții ce mandatează o schimbare a materialului pungilor: </b></h4>
        <p>Italia, Franța, Mexico City, Insula Mauritius, Malta</p><br>

        <h4><b>Jurisdicții ce mandatează o schimbare a grosimii pungilor : </b></h4>
        <p>China, India, Africa de Sud, Taiwan, Tanzania, Sudul Australiei</p><br>

        <h3><b>Tipuri de interdicții și eficiența lor relativă: </b></h3>
        <h4><b>Interdicții totale : </b></h4>
        <p>Interdicțiile totale reprezintă o directivă descendentă care încearcă să forțeze schimbarea comportamentului prin eliminarea completă a
            pungilor si îndepărtarea opțiunii de pe piață.
        </p>
        <p>Interdicțiile totale eșuează dacă nu au suportul populației, care, altfel, va găsi modalități de a ocoli interdicția. </p>
        <p>Acest tip de interdicție a pungilor subminează, si de fapt abandoneaza, principiile de gestionare a  deseurilor din produselor de larg consum și a strategiilor 3R de gestionare a acestora.
        Nu doar pungile produc deseuri,si, deci, pe restul cum le interzicem?</p>
        <p>Interdicțiile totale necesită un regim de implementare serios și costisitor pentru a le face să funcționeze. </p>
        <p>Interdicțiile totale au eșuat în Bangladesh, Somalia, Tanzania și Somaliland datorită nerespectării acestora. </p>
        <p>Ruanda pare a fi singura jurisdicție unde a funcționat o interdicție totală. Au reușit deoarece au suportul total al populației care încearcă să reconstruiască după
            războiul civil devastator.Este, însă, o jurisdicție foarte mică și au o implementare greoaie.De asemenea acolo,oamenii nu au bani sa consume.
        </p><br>
        <h4><b>Utilizarea interdicțiilor ca unealtă politică de dezvoltare economică, pentru dezvoltarea  economiei locale și creerea de locuri de muncă : </b></h4>
        <p>Puține țări au mandatat interdicții totale referitoare la pungile de plastic pentru cumpărături.
            Adesea, ceea ce este impus ca interdicție nu este deloc o interdicție.
        </p>
        <p>Intenția presupusei interdicții nu este să îndepărteze sau  sa elimine pungile de plastic ca dispozitiv de transportare de pe piață astfel încât
            consumatorii să nu le poată folosi, ci să modifice producția pungii astfel încât să se creeze și să se sprijine locurile de muncă și producția pe
            plan local. Pungile de plastic pentru cumpărături sunt în continuare pe piață, acestea fiind folosite de către consumatori și retaileri,
            dar tipul de plastic utilizat la realizarea pungii a fost schimbat.</p>
        <p>Exemple bune sunt Italia și Franța, care au decis să interzică utilizarea de plastic non-biodegradabil la fabricarea pungilor.
            Acestea nu au interzis pungile deși s-a raportat că ar fi implementat o interdicție totală a pungilor de plastic.
        </p>
        <p>În Franța, guvernul a mandatat utilizarea pungilor din plastic biodegradabil obținut din materie vegetală
            pentru a-și sprijini comunitatea agricolă autohtonă având în vedere faptul că subvențiile pentru producție prin politicile agricole comune ale UE
            se află într-un declin treptat. Pungile încă sunt fabricate și utilizate în Franța, dar sunt produse din folie de plastic biodegradabila.
        </p>
        <p>Alt exemplu este Italia, care a mandatat utilizarea pungilor  autorizate compostabile  din  rășini pentru a sprijini industria italiană de bioplastice, aflata in crestere.
            Pungile de plastic pentru cumpărături nu au fost eliminate și sunt folosite în continuare de către retaileri și consumatori.
        </p><br>
        <h4><b>Interzicerea pungilor de plastic ultra-subțiri si promovarea celor cu o grosime mai mare: </b></h4>
        <p>În unele țări, interdicțiile țintesc pungile de plastic ultra-subțiri, dar nu și pe cele mai groase. În acele țări, pungile se utilizează în continuare, dar aceasta tot este promovată ca o interdicție referitoare la pungi.
        </p>
        <p>Exemplele includ China, care a interzis toate pungile de plastic pentru cumpărături mai subțiri de 20 microni (sau 0.022 milimetri grosime), India (50 microni).</p>
        <p>În Sudul Australiei și Africa de Sud, pungile cu grosimea minimă de 30 microni și peste sunt permise din cauza problemelor deșeurilor cu privire la
            pungile mai ușoare care pot fi suflate mai ușor de vânt când sunt aruncate.</p><br>
        <a class="btn btn-success" ng-click="gotoTop()">Inapoi sus</a>
        <h4><b>Interzicerea pungilor de plastic în favoarea acelora de hârtie: </b></h4>
        <p>În unele jurisdicții, interdicțiile referitoare la pungile de plastic sunt introduse împreună cu mandatarea pungii de hârtie ca alternativă.
            Acestea sunt, uneori, însoțite de taxe pe pungile de hârtie la casă. </p>
        <p>Numeroase studii efectuate la nivel global demonstrează că pungile de hârtie sunt mai dăunătoare pentru mediu decât pungile de plastic,
            atât prin impactul modului de fabricare cât și prin impactul utilizărilor de resurse. </p>
        <p>Aceste tipuri de interdicții ignoră importanța copacilor pentru sănătatea planetei.</p>
        <p>Conform datelor reale legate de economisirea energiei ale Comisiei pentru Energie din California,
            un singur copac de 15 ani furnizează materialele necesare pentru a fabrica doar 700 de pungi de hârtie,
            pe care un magazin mare alimentar are potențialul să le utilizeze într-o jumătate de zi<sup>2</sup>.
        </p>
        <p>Deoarece fibrele puternice de hârtie sunt necesare pentru rezistență, în ideea de a căra încărcătura grea a alimentelor, majoritatea pungilor de
            hârtie Kraft pentru alimente în Canada sunt făcute din material virgin, plus așchii și rumeguș de lemn din operațiuni de exploatare forestieră
            (sursa: <a ng-href="http://www.ppec-paper.com/pdfFiles/news/UnderstandingRecycledContentJune2015.pdf">PPEC -  A înțelege datele despre conținutul reciclat - Understanding Recycled Content</a> )
        </p>
        <p>Una dintre consecințele neintenționate ale acestui tip de interdicție este că trecerea la pungile de hârtie creează un munte de deșeuri și
            generează semnificativ mai multe gaze cu efect de seră decât pungile de plastic pentru cumpărături.
        </p>
        <p>Pungile de hârtie sunt aproximativ de șapte ori mai grele, cântărind circa 55 grame, în comparație cu pungile de plastic care cântăresc 8 grame.
            Acesta este motivul pentru care Taiwan-ul <mark>a retras</mark> interdicția la pungile de plastic pentru cumpărături în 2006 și a înlocuit-o cu un model de reciclare.
        </p><br>
        <h4><b>Interzicerea pungilor din plastic non-biodegradabil în favoarea pungilor din plastic biodegradabil : </b></h4>
        <p>Multe dintre deciziile de a interzice pungile de plastic nu sunt luate în baza unor cercetări științifice, ci în baza unor considerente eronate referitoare la mediu.
            Rezultatul este acela că aceste decizii pot chiar să aiba un impact negativ neintenționat asupra mediului, dacă în anumite situatii nu se utilizează materialele adecvate .
        </p>
        <p>Fabricarea pungilor de plastic este rezultatul progresului în tehnologia modernă care a început în anii 1970 pentru prevenirea tăierii de copaci.
            Aceste progrese continuă și azi. Una dintre inovațiile tehnologice o reprezintă dezvoltarea diferitelor tipuri de rășini/folii de plastic precum
            cele biodegradabile sau compostabile; dintre acestea(există o multitudine de tipuri diferite),unele sunt utilizate în medicină,
            sau pentru programe locale de colectare de substanțe organice și în agricultură, unde aceste produse acționează bine in cadrul anumitor aplicații.
        </p>
        <p>Cu toate acestea, unele jurisdicții la nivel mondial au căutat să treacă la pungi de plastic biodegradabil și să interzică pungile
            din plastic non-biodegradabil pentru că au convingerea că cele biodegradabile sunt mai bune pentru mediu și vor ajuta la rezolvarea unei
            probleme de deșeuri de pungi sau a unei gropi de gunoi ecologice. Aceștia creeză, ăn realitate, o problemă mai mare a gropilor de gunoi ecologice
            deoarece biodegradabilele, la finele ciclului lor de viață, trebuie să fie aruncate ca gunoi și ajung la groapa de gunoi.</p>

    </div>
</div>































