body
  @include background-image(url("../img/textured-polietilena.jpg"))

h1
  font-family: $main-font
  color: $blue
  text-align: center

h4
  font-family: $main-font
  color: $charcoal-grey
  letter-spacing: 1.5px
  font-style: oblique

nav
  display: block
  margin: 0
  padding: 0
  position: absolute
  & > .btn-default
    display: block
    line-height: 15px
    width: 240px
    height: 44px
    font-family: $main-font
    font-style: italic
    white-space: normal
    color: $blue
    background-color: transparent

.btn-default:hover
  color: $nice-green
  border: none

input[type=checkbox]
  display: none


input[type=checkbox]:checked ~ #menu
  display: block

.show-menu
  display: none


small
  font-family: $main-font
  display: inline-block
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  border-radius: 3px
  color: $charcoal-grey
  font-style: italic
  font-size: 50% !important
  letter-spacing: 2px

  padding: 2px 2px 1px
  line-height: .9
  vertical-align: top
  text-shadow: 0 1px 0 #fff
  background: #f2f2f2
  border: 1px solid #eaeaea
  cursor: default

@media screen and (max-width : 1024px)

  nav
    margin-top: 50px
    display: none

  nav .btn-default
    margin-bottom: 1px
    width: 95%

  .btn-default:hover
    color: $nice-green

  .show-menu
    display: inline-block
    line-height: 15px
    width: 240px
    font-family: $main-font
    white-space: normal
