body
  @include background-image(url("../img/textured-polietilena.jpg"))

h1
  font-family: $main-font
  color: $blue

h4
  font-family: $main-font
  color: $charcoal-grey
  letter-spacing: 1.5px
  font-style: oblique

nav
  display: block
  max-width: 15%
  float: left!important
  margin: 0
  padding: 0
  position: absolute
  & > .btn
    display: block
    float: left!important
    line-height: 15px
    width: 240px
    font-family: $main-font
    white-space: normal

.btn:hover
  color: $nice-green
  border: none

input[type=checkbox]
  display: none

input[type=checkbox]:checked ~ #menu
  display: block

.show-menu
  display: block
  float: left!important
  line-height: 15px
  width: 240px
  font-family: $main-font
  white-space: normal

small
  font-family: $main-font
  display: inline-block
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  border-radius: 3px
  color: $charcoal-grey
  font-style: italic
  font-size: 50% !important
  letter-spacing: 2px

  padding: 2px 2px 1px
  line-height: .9
  vertical-align: top
  text-shadow: 0 1px 0 #fff
  background: #f2f2f2
  border: 1px solid #eaeaea
  cursor: default

@media screen and (max-width : 768px)
  nav
    position: static
    display: none

  .btn
    margin-bottom: 1px
    width: 100%

  .show-menu
    display: block