html body
  height: 100%

body
  @include background-image(url("../img/textured-polietilena.jpg"))

#mainContainerFluid
  padding-top: 50px!important
  padding-left: 50px!important

h1
  font-family: $main-font
  color: lightcoral
  text-align: center

h4
  font-family: $main-font
  color: $charcoal-grey
  letter-spacing: 1.5px
  font-style: italic

nav
  display: block
  width: 240px
  position: absolute
  margin-top: 15px
  margin-left: 20px
  & > .btn-default
    display: block
    line-height: 15px
    width: 240px
    height: 44px
    font-family: $main-font
    font-style: italic
    white-space: normal
    color: $blue
    background-color: lightgray



.btn-default:hover
  color: $nice-green
  border: none

input[type=checkbox]
  display: none


input[type=checkbox]:checked ~ #menu
  display: block

.show-menu
  display: none


small
  font-family: $main-font
  display: inline-block
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  border-radius: 3px
  color: $blue!important
  font-style: italic
  font-size: 50% !important
  letter-spacing: 2px

  padding: 2px 2px 1px
  line-height: .9
  vertical-align: top
  text-shadow: 0 1px 0 #fff
  background: #f2f2f2
  border: 1px solid #eaeaea
  cursor: default

footer
  margin-top: 27%
  padding-left: 50px
  font-family: $main-font

@media screen and (max-width : 1024px)

  nav
    margin-top: 35px
    margin-left: 0
    display: none
    width: 100%

  nav .btn-default
    width: 100%
    padding-right: 18px
  a
    width: 100%
    padding-right: 18px

  .btn-default:hover
    color: $nice-green

  .show-menu
    position: fixed
    display: inline-block
    line-height: 15px
    width: 100%
    font-family: $main-font
    white-space: normal

  label
    width: 100%
    margin-top: 5px
    position: fixed

  #mainContainerFluid
    padding-top: 15px!important
    padding-left: 15px!important

  footer
    padding-left: 0


