p
  font-size: 18px
  font-weight: 500
  text-align: left
  color: black

h2
  color: $nice-green

b
  color: lightcoral

#button
  border-radius: 15px
  font-family: $main-font
  color: lightcoral



