$main-font: Fira Sans, sans-serif
$blue: #2760aa
$charcoal-grey: #4a4a4a
$pinkish-grey: #dbd1bd
$nice-green: #19c589

=background-image($url)
  background-image: $url
  background-repeat: no-repeat
  background-attachment: fixed
  background-position: center center
  background-size: cover





